/* line 5, /Users/russellmstowski/Actualize/student/CarCustomizr/app/assets/stylesheets/customizations.scss */
.center {
  text-align: center;
}

/* line 9, /Users/russellmstowski/Actualize/student/CarCustomizr/app/assets/stylesheets/customizations.scss */
#bgimage {
  background-image: url("https://lh3.ggpht.com/UD9FAsyigtshfPAWbkbMBfeASSNsHJJge7ZrYoacN4nWHBtZoP-knIhwlyCTz-qjvg=h900");
}
/* line 5, /Users/russellmstowski/Actualize/student/CarCustomizr/app/assets/stylesheets/pages.scss */
#title {
  color: white;
}

/* line 9, /Users/russellmstowski/Actualize/student/CarCustomizr/app/assets/stylesheets/pages.scss */
#box {
  background-color: white;
}

/* line 13, /Users/russellmstowski/Actualize/student/CarCustomizr/app/assets/stylesheets/pages.scss */
#main {
  text-align: center;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */


body {
  color: black !important;
}
