<main class="page-content">
        <!--Start section-->
        <section class="text-center offset-1">
          <div class="container">
            <br>
            <h1 id="title">Car catalog</h1>
            <div class="row flow-offset-1">
              <% @cars.each do |car| %>
                <div class="col-xs-6 col-md-3">
                  <div class="product tumbnail thumbnail-3"><a href="/cars/<%= car.id %>"><img src="<%= car.image %>" alt=""></a>
                    <div class="caption">
                      <h6 id="title"><a href="/cars/<%= car.id %>"><%= car.model %></a></h6>
                    </div>
                  </div>
                </div>
              <% end %>
          </div>
        </section>
      </main>